@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@keyframes show-navbar {
  0% {
    transform: translateX(-500px);
    z-index: 1;
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}

body {
  height: 100vh;
  background-color: rgba(black, 0.8);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Instrument Sans", sans-serif;
}

/**Nav Bar Css*/

.saloninks-home-con {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.saloninks-navbar-con {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5%;
  z-index: 3;
  position: fixed;
  background-color: #fff;
}

.saloninkslogo {
  width: 15%;
  z-index: 3;
}

.nav-bar-section {
  height: auto;
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}

.nav-bar-section p {
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.9rem;
  color: #222222;
}

.nav-bar-section p:hover {
  color: #3636d5;
}

.nav-bar-section select {
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.9rem;
  color: #222222;
  outline: none;
  border-color: transparent;
}

.nav-bar-section select:hover {
  color: #3636d5;
}

.navbar-buttons {
  height: auto;
  width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar-buttons button:nth-child(1) {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-image: linear-gradient(#5a5ad5, #3636d5);
  border-width: 0.1rem;
  padding: 3% 5% 3% 5%;
  border-radius: 0.5rem;
  cursor: pointer;
  border-color: #5a5ad5;
}

.navbar-buttons button:nth-child(1):hover {
  color: #3636d5;
  background-color: transparent;
  background-image: none;
  border-color: #222222;
  border-width: 0.1rem;
  border-color: #3636d5;
}

.navbar-buttons button:nth-child(2) {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
  color: #222222;
  background-color: #ffffff;
  border-width: 0.1rem;
  padding: 3% 5% 3% 5%;
  border-radius: 0.5rem;
  cursor: pointer;
  border-color: #222222;
}

.navbar-buttons button:nth-child(2):hover {
  font-family: "Instrument Sans", sans-serif;
  font-size: 1rem;
  color: #5856d6;
  background-color: #ffffff;
  border-width: 0.1rem;
  padding: 3% 5% 3% 5%;
  border-radius: 0.5rem;
  cursor: pointer;
  border-color: #5a5ad5;
}

.ham-burger {
  display: none;
}

.nav-bar-content {
  display: none;
}
.nav-bar-blur-content {
  display: none;
}

/**Min page*/
.head-page-con {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.home-inks-main-image {
  position: absolute;
  height: 130%;
  transform: rotate(-30deg);
  border-radius: 1.1rem;
  left: 60%;
  z-index: -1;
  filter: drop-shadow(-10px -5px 10px #6f9ec9);
}

.saloninks-head-page {
  height: 100%;
  width: 50%;
  border-style: solid;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
  margin-top: 3%;
}

.saloninks-head-page h1 {
  font-family: "Instrument Sans", sans-serif;
  max-width: 60%;
  font-size: 4.5vw;
  background-image: linear-gradient(
    to bottom,
    #7441e1,
    #2d8992
  ); /* Gradient colors */
  -webkit-background-clip: text; /* Apply the gradient to the text */
  background-clip: text; /* Apply the gradient to the text */
  color: transparent; /* Make the text color transparent */
}
.saloninks-head-page p {
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.8rem;
  max-width: 60%;
  line-height: 1.5;
  color: #666c8b;
  margin-top: 2%;
}
.salonink-head-page-button-con {
  height: auto;
  width: 60%;
  margin-top: 3%;
}

.salonink-head-page-button-con button:nth-child(odd) {
  background-image: linear-gradient(#5a5ad5, #3636d5);
  color: #fff;
  border-width: 0;
  padding: 3% 5% 3% 5%;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-color: #5a5ad5;
}

.salonink-head-page-button-con button:nth-child(odd):hover {
  background-image: none;
  color: #3636d5;
  background-color: #fff;
  border-color: #3636d5;
  cursor: pointer;
}

.salonink-head-page-button-con button:nth-child(even) {
  background-color: #fff;
  color: #222222;
  border-width: 0.1rem;
  padding: 3% 5% 3% 5%;
  border-radius: 0.5rem;
  margin-left: 5%;
  border-color: transparent;
  cursor: pointer;
}

.salonink-head-page-button-con button:nth-child(even):hover {
  background-image: none;
  color: #3636d5;
  background-color: #fff;
  border-color: #3636d5;
  cursor: pointer;
}

/**Main-page-brands*/

.saloninks-home-con h4 {
  font-family: "Instrument Sans", sans-serif;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.brand-con {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.brands {
  height: 57%;
  width: 10.5%;
  filter: drop-shadow(1px 1px 4px grey);
  cursor: pointer;
}

.brands:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 0px white);
}

.brands img {
  height: 100%;
  width: 100%;
}

.con-comprehensive {
  height: auto;
  width: 100%;
  background-color: #6f58b4;
  font-family: "Instrument Sans", sans-serif;
  color: #fff;
  padding-top: 5%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  overflow: hidden;
}

.con-comprehensive h1 {
  margin-top: 5%;
  text-align: center;
}

.con-comprehensive p {
  margin-top: 2%;
  text-align: center;
  font-size: 0.85rem;
  max-width: 45%;
  padding-bottom: 5%;
  line-height: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.con-comprehensive img {
  height: 60%;
  width: 60%;
  border-radius: 1rem;
  box-shadow: 1px 1px 20px #000000;
  margin-bottom: 5%;
  object-fit: cover;
}

.comprehensive-content {
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
  padding-bottom: 11%;
}

.content-com {
  margin-left: 2rem;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: auto;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Instrument Sans", sans-serif;
}

.comprehensive-head {
  font-family: "Robot", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.comprehensive-para {
  font-family: "Robot", sans-serif;
  font-size: 0.8rem;
  line-height: 1.1rem;
  font-weight: 100;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content-com button {
  padding: 0.5rem 0.7rem;
  border-radius: 0.2rem;
  border-width: 0;
  cursor: pointer;
  color: #222222;
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.7rem;
}

.content-com button :hover {
  color: #5856d6;
}

/**wave animation*/

.wave {
  position: absolute;
  top: -2%;
  transform: rotate(-180deg);
}

.wave2 {
  position: absolute;
  bottom: 0%;
}

.wave-3 {
  position: absolute;
  top: -2%;
  transform: rotate(-180deg);
}

.wave-4 {
  position: absolute;
  bottom: 0%;
}

.wave-5 {
  position: absolute;
  top: -2%;
  transform: rotate(-180deg);
}

/**mission-statement*/

.mission-statement {
  height: auto;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  padding-left: 15%;
  padding-right: 15%;
  font-family: "Instrument Sans", sans-serif;
  color: #666c8b;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 0;
}

.mission-statement h3 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 3%;
  color: #222222;
  align-self: flex-start;
}

.mission-statement img {
  width: 100%;
  margin-top: 8%;
}

/**our team css*/

.ourTeam {
  height: auto;
  width: 100%;
  background-color: #dfe5f9;
  margin-top: 7%;
  position: relative;
  padding-bottom: 5%;
  overflow: hidden;
}

.ourTeam h3 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 3rem;
  margin-bottom: 2.5%;
  padding-top: 10%;
  padding-left: 8%;
}

.ourTeam p {
  font-family: "Instrument Sans", sans-serif;
  max-width: 45%;
  font-size: 1.1rem;
  line-height: 2rem;
  padding-bottom: 2.5%;
  padding-left: 8%;
}

/**slider css*/

.slider-con {
  height: 85vh;
  margin-left: 8%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.slider-div {
  height: 75vh;
  width: 40vw;
  position: relative;
  border-radius: 1rem;
  padding-bottom: 15%;
}

.slider-div1 {
  height: 50vh;
  width: 40%;
  position: relative;
  border-radius: 1rem;
  background-color: transparent;
  margin-bottom: 5%;
}

.slider-div img {
  height: 100%;
  width: 80%;
  border-radius: 1rem;
  transform: translate(17.5%);
}

.slider-content {
  position: absolute;
  height: 40%;
  bottom: 0;
  width: 80%;
  border-radius: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
  background: rgba(1, 1, 1, 0.438);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translateX(17.5%);
  margin-bottom: 15%;
}

.slider-content1 {
  position: absolute;
  height: 80%;
  bottom: 0;
  width: 95%;
  border-radius: 1rem;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: linear-gradient(to right, #ffffff, #aab3d1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.slider-content1 strong {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-left: 8%;
  color: #222222;
}

.slider-content strong {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding-left: 8%;
  color: #fff;
}

.slider-content p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  max-width: 85%;
  margin-top: 5%;
  color: #fff;
}

.slider-content1 p {
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.7rem;
  padding-left: 8%;
  font-weight: bolder;
  color: #222222;
  margin-bottom: 5%;
}

.customer-data1 {
  height: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.customer-data1 h6 {
  font-family: "Robot Sans", sans-serif;
  color: #222222;
  font-size: 0.6rem;
  margin-left: 7%;
  font-style: italic;
  font-weight: 100;
  width: 100%;
}

.customer-data1 img {
  height: 100%;
  margin-left: 8%;
  border-radius: 100%;
}

.slider-content1 h5 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.8rem;
  padding-left: 8%;
  color: #222222;
  font-weight: bolder;
  max-width: 80%;
  margin-top: 10%;
}

.slick-dots {
  height: 15%;
  display: inline-block; /* Ensure dots are displayed */
}

.slide-show1 {
  display: inline !important;
}

.slide-show2 {
  display: none !important;
}

.securebooking {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 3%;
}

.securebooking h3 {
  font-family: "Instrument Sans", sans-serif;
  font-size: 3rem;
  max-width: 60%;
  padding-left: 10%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2b8b94, #2b8b94);
  font-weight: bolder;
}

.securebooking p {
  margin-top: 5%;
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.2rem;
  max-width: 70%;
  padding-left: 10%;
  color: #666c8b;
}

.securebooking button {
  font-size: 1rem;
  padding: 2% 3%;
  border-radius: 0.5rem;
  border-width: 0;
  margin-top: 5%;
  margin-left: 10%;
  color: #fff;
  background-image: linear-gradient(to right, #865ce0, #2b8b94);
}

.secure-2 {
  width: 30%;
  position: relative;
  margin-right: 5%;
}

.secure-img {
  margin-top: 10%;
  width: 25vw;
  z-index: 5;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 30%;
}

.blob {
  bottom: -20%;
  left: -20%;
  position: absolute;
  z-index: -5;
  height: 85%;
}

.testimonials {
  font-family: "Roboto Sans", sans-serif;
  color: #fff;
  background-color: #6f58b4;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;
  padding-top: 8%;
  padding-bottom: 10%;
  overflow: hidden;
}

.test-div1 {
  align-self: flex-start;
  height: autoh;
  padding-left: 7%;
  padding-top: 5%;
}

.test-div2 {
  align-self: flex-start;
  height: auto;
  width: 100%;
  padding-left: 7%;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.testimonials h4 {
  text-align: start;
}

.testimonials-para1 {
  max-width: 70%;
  margin-top: 3%;
}

.testimonials-para2 {
  margin-top: -10%;
  font-size: 2rem;
  max-width: 70%;
}

.carousel {
  height: 50vh;
  width: 80%;
  margin-right: -20vw;
  margin-bottom: 5%;
}

/**Pricing Page*/

.pricing-page {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  padding: 0% 4%;
}

.pricings {
  height: auto;
  width: 100%;
  background-color: #f0f4ff;
  padding: 5% 2%;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pricings h1 {
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
}

.pricings p {
  font-family: "Instrument Sans", sans-serif;
  text-align: center;
  margin-top: 2%;
  max-width: 50%;
  word-spacing: 0.1rem;
}

.pricing-button {
  font-family: "Instument Sans", sans-serif;
  margin-top: 5%;
  font-size: 1rem;
  padding: 1% 2%;
  border: 0;
  background-image: linear-gradient(to right, #7441e1, #2d8992);
  color: #fff;
  border-radius: 0.5rem;
}

.button-change {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5% 1%;
  border-radius: 0.3rem;
  background-color: #fff;
  filter: drop-shadow(1px 2px 5px #222222);
  margin-top: 2.5%;
  transition: all 0.3s ease-in-out;
}

.button-change > button {
  padding: 4% 10%;
  font-size: 0.9rem;
  margin: 2% 5%;
  width: 7vw;
  border-radius: 0.8rem;
  border: 0.5px solid transparent;
  background: transparent;
  cursor: pointer;
  transform: all 0.3s ease-in-out;
}

.button-change > button:hover {
  border: 0.5px solid black;
  color: black;
  transform: all 0.3s ease-in-out;
}

.set-to-black {
  background: #000000 !important;
  color: #ffffff !important;
}

.Plans {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.each-plan-box {
  margin-top: 5%;
  border: 0.1px solid #22222250;
  width: 23%;
  border-radius: 0.5rem;
}

.each-plan-box h6 {
  font-family: "Instrument Sans", sans-serif;
  color: #22222280;
  font-weight: 100;
  font-size: 0.8rem;
  margin-top: 8%;
  margin-left: 8%;
}

.each-plan-box h3 {
  font-family: "Instrument Sans", sans-serif;
  color: #222222;
  font-weight: 100;
  font-size: 1.5rem;
  margin-top: 5%;
  margin-left: 8%;
}

.each-plan-box > p {
  font-family: "Instrument Sans", sans-serif;
  color: #222222;
  font-weight: 100;
  font-size: 0.65rem;
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 8%;
  max-width: 80%;
  text-align: start;
}

.each-plan-box > button {
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 3% 4%;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  border-width: 0;
  background-image: linear-gradient(to right, #865ce0, #4c6ad9);
  color: #fff;
}

.facilities-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
  height: auto;
  width: 100%;
}

.facilities-box > img {
  height: 2vh;
  width: 1vw;
  margin-left: 8%;
}

.facilities-box > p {
  font-size: 0.75rem;
  max-width: 80%;
  text-align: start;
  margin-left: 4%;
  margin-bottom: 2%;
}

/**FAQS*/

.Faq-section {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.Faq-section > button {
  margin-top: 2.5%;
  font-size: 0.9rem;
  padding: 1% 2%;
  border: 0;
  background-color: #5856d6;
  color: #fff;
  border-radius: 0.25rem;
}

.Faq-subsection {
  height: auto;
  width: 80%;
  background-color: #f0f4ff;
  margin-top: 5%;
  margin-bottom: 10%;
  padding: 5%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Faq-subsection > p {
  margin-top: 2.5%;
  margin-bottom: 5%;
  font-size: 1rem;
  max-width: 55%;
  text-align: center;
}

.faq-s {
  height: auto;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.ans {
  color: #757575;
  width: 70%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.ans-done {
  display: none;
}

.faq-s-up {
  transform: rotate(90deg);
  cursor: pointer;
}

.faq-s-down {
  transform: rotate(-90deg);
  cursor: pointer;
}

.contact-page {
  height: auto;
  width: 100%;
  padding: 5%;
  display: flex;
}

.contact-page-first-child {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-page-first-child h2 {
  font-family: "Instrument Sans", sans-serif;
  color: #222222;
  margin: 2% 0%;
  max-width: 40%;
}

.contact-page-first-child p {
  font-family: "Instrument Sans", sans-serif;
  color: #666c8b;
  max-width: 35%;
  margin-top: 2.5%;
  margin-bottom: 4%;
  font-size: 0.7rem;
}

.contact-page-first-child img {
  width: 65%;
}

.contact-page-second-child {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2.5%;
}

.text-box-contact {
  color: #666c8b;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  padding: 2.5%;
  border-width: 1px;
  border-color: #666c8b30;
  border-radius: 0.25rem;
}

.text-box-contact {
  color: #666c8b;
  margin-left: 2.5%;
  margin-bottom: 2.5%;
  padding: 2.5%;
  border-width: 1px;
  border-color: #666c8b30;
  border-radius: 0.25rem;
}

.contact-page-second-child > textarea {
  height: 30%;
  width: 90%;
  margin-left: 2.5%;
  display: block;
  border-width: 1px;
  border-color: #666c8b30;
  padding: 2.5%;
}

.contact-page-second-child > button {
  color: #ffffff;
  background-image: linear-gradient(to right, #865ce0, #4c6ad9);
  border: 0;
  width: 90%;
  margin-left: 2.5%;
  margin-top: 2.5%;
  padding: 2.5% 0%;
  border-radius: 0.25rem;
}

.contact-page-second-child > p {
  max-width: 80%;
  font-family: "Instrument Sans", sans-serif;
  font-size: 0.55rem;
  text-align: center;
  margin-top: 2.5%;
  margin-left: 2.5%;
}

.contact-page-second-child > p > span {
  margin: 0.1rem;
  color: #5856d6;
  text-decoration: underline;
}

.check-box {
  font-size: 0.75rem;
  display: flex;
  margin-top: 3.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

/**Footer CSS**/

.footer-sections {
  height: auto;
  width: 100%;
  background-color: #f0f4ff;
  padding: 5%;
}

.footer-sections > img {
  width: 30%;
}

.footer-sections > p {
  margin-top: 1%;
  color: #222222;
}

.footer-sub-section {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #7441e1, #2d8992);
  color: #ffffff;
  padding: 3%;
  border-radius: 0.5rem;
}

.footer-sub-section h5 {
  font-size: 1.5rem;
}

.footer-sub-section p {
  margin-top: 1%;
  font-size: 0.8rem;
}

.footer-sub-section > :last-child {
  width: 30%;
  position: relative;
}

.mail-icon {
  top: 20%;
  left: 6%;
  position: absolute;
}

.footer-sub-section input {
  width: 100%;
  background-color: #222222;
  outline: none;
  color: #ffffff;
  padding-left: 12%;
}

.footer-sub-section button {
  position: absolute;
  top: 15%;
  right: 0;
}

.last-sections {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

.last-sections h5 {
  font-size: 1.2rem;
}

.last-sections p {
  color: #666c8b;
  font-size: 0.8rem;
  margin-top: 15%;
}

.footer-sections hr {
  width: 100%;
  height: 0.1rem;
  color: #666c8b;
}

.copy-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  font-size: 0.75rem;
  color: #666c8b;
}

.first-copy {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/**Footer Css **/

@media screen and (max-width: 600px) {
  /**Footer**/

  .footer-sections > img {
    width: 50%;
  }
  .footer-sub-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer-sub-section :last-child {
    height: auto;
    width: 90%;
    position: relative;
  }

  .footer-sub-section :last-child > button {
    top: 32.5%;
    position: absolute;
    height: auto;
    width: 30%;
    padding: 2% 0%;
  }

  .mail-icon {
    top: 38%;
    font-size: 1.5rem;
    left: 5%;
  }

  .last-sections {
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2.5%;
  }

  .last-sections div {
    border: 5px solid, red;
    width: 30%;
    margin-left: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .copy-right {
    height: auto;
    flex-wrap: wrap;
    text-align: center;
  }

  .first-copy {
    margin-top: 2.5%;
    width: 100%;
    margin-bottom: 2.5%;
  }
  .second-copy {
    margin-top: 2.5%;
    width: 100%;
  }

  /**Footer**/

  /**ContactSection**/

  .contact-page {
    height: auto;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }

  .contact-page-first-child {
    width: 100%;
  }

  .contact-page-first-child > h2 {
    max-width: 90%;
  }

  .contact-page-first-child > p {
    max-width: 70%;
  }

  .contact-page-first-child > img {
    width: 100%;
  }

  .contact-page-second-child {
    margin-top: 5%;
    padding-top: 5%;
    width: 100%;
  }

  .check-box {
    font-size: 0.48rem;
    display: flex;
    margin-top: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }

  .text-box-contact {
    width: 90%;
    margin-top: 5%;
    padding: 5% 2.5%;
    border-radius: 0.5rem;
  }

  .text-box-contact {
    width: 90%;
    margin-top: 5%;
    padding: 5% 2.5%;
    border-radius: 0.5rem;
  }

  .contact-page-second-child > textarea {
    margin-top: 5%;
  }

  .contact-page-second-child > button {
    margin-top: 5%;
    padding: 5% 0%;
  }

  .contact-page-second-child > p {
    margin-top: 5%;
    max-width: 100%;
  }

  /**ConatactSection**/

  .testimonials {
    padding-top: 18%;
  }

  .saloninks-home-con {
    height: 100vh;
    width: 100vw;
  }

  /**Nav Bar Css*/
  .saloninks-navbar-con {
    height: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    position: fixed;
    width: 100vw;
    z-index: 3;
  }

  .saloninkslogo {
    width: 35%;
    height: auto;
  }

  .nav-bar-section {
    display: none;
  }
  .navbar-buttons {
    display: none;
  }

  .ham-burger {
    width: 8%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .bar {
    padding: 3%;
    margin: 10%;
    background: #222222;
    transition: all 1s ease-in-out;
  }
  .bar1 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(45deg);
  }
  .bar2 {
    transition: all 1s ease-in-out;
    display: none;
  }
  .bar3 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(-45deg);
    margin-left: -5%;
    margin-top: -5%;
  }

  .nav-bar-content {
    background-color: #5a5ad545;
    position: fixed;
    height: auto;
    width: 85%;
    top: 8%;
    z-index: 3;
    height: 40%;
    animation: show-navbar 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 48%;
    border-top-left-radius: 48%;
    padding-left: 15%;
    left: -15%;
  }

  .nav-bar-section1 {
    padding-left: 5%;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 3;
    font-size: 0.8rem;
  }
  .nav-bar-section1 p {
    font-family: "Instrument Sans", sans-serif;
    color: #222222;
    z-index: 3;
    font-size: 0.8rem;
  }

  .nav-bar-section1 select {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.8rem;
    color: #222222;
    outline: none;
    border-color: transparent;
    margin-left: -2%;
    background-color: transparent;
    z-index: 3;
  }

  .navbar-buttons2 {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    margin-left: -15%;
    z-index: 3;
    font-size: 0.9rem;
    padding-left: 8%;
  }
  .navbar-buttons2 button:nth-child(1) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.9rem;
    color: #fff;
    background-image: linear-gradient(#5a5ad5, #3636d5);
    border-width: 0;
    padding: 2% 3% 2% 3%;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
  }
  .navbar-buttons2 button:nth-child(2) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.9rem;
    color: #5856d6;
    border-width: 0;
    padding: 2% 2% 2% 2%;
    background-color: #fff;
    border-width: 0.3vh;
    border-color: #5856d6;
    border-radius: 1vh;
    cursor: pointer;
    z-index: 3;
  }
  .nav-bar-blur-content {
    display: inline;
    height: 100vh;
    width: 85vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }

  /**Main-page*/

  .home-inks-main-image {
    position: absolute;
    height: 100%;
    transform: rotate(-25deg);
    border-radius: 5vw;
    left: 30%;
    z-index: -1;
    filter: drop-shadow(-10px -5px 10px #6f9ec9);
    filter: blur(4px);
    margin-top: -50%;
  }

  .saloninks-head-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    margin-left: 0;
    background-color: #ffffff40;
  }

  .saloninks-head-page h1 {
    font-family: "Instrument Sans", sans-serif;
    max-width: 95%;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #5856d6, #5856d6, #337e85);
  }

  .saloninks-head-page p {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.85rem;
    max-width: 92%;
    line-height: 1.5;
    color: #222222;
  }
  .salonink-head-page-button-con {
    width: 100%;
  }

  /**brands css*/

  .brand-con {
    height: auto;
    gap: 1rem;
  }

  .brands {
    height: 7.5rem;
    width: 8rem;
    margin-top: 1.5rem;
    filter: drop-shadow(1px 1px 3px grey);
  }

  .saloninks-home-con h4 {
    font-size: 1.5rem;
    margin: 1rem 3rem;
  }

  /**Comprehensiv-con css*/
  .con-comprehensive {
    border-color: #fff;
  }

  .con-comprehensive h1 {
    margin-top: 25%;
    text-align: center;
    font-size: 1.5rem;
    max-width: 80%;
    margin-bottom: 5%;
    line-height: 2rem;
  }

  .con-comprehensive p {
    max-width: 80%;
    line-height: 1.5rem;
  }

  .con-comprehensive img {
    margin-top: 8%;
    width: 85%;
    border-radius: 0.5rem;
  }

  .comprehensive-content {
    flex-direction: column;
    margin-bottom: 25%;
  }

  .content-com {
    width: 100%;
    margin: 0;
    height: auto;
    top: -1%;
  }

  /**wave-css*/

  .wave {
    height: 10%;
    z-index: 0;
    top: -2%;
  }

  .wave2 {
    height: 10%;
    z-index: 0;
    bottom: -2%;
  }

  .wave-3 {
    position: absolute;
    top: -6%;
    transform: rotate(-180deg);
  }

  .wave-5 {
    position: absolute;
    top: -3%;
    transform: rotate(-180deg);
  }

  .wave-4 {
    position: absolute;
    bottom: -5%;
  }

  /** mission-statement*/

  .mission-statement {
    padding: 10%;
  }

  .mission-statement img {
    width: 100%;
    margin-top: 10%;
  }

  .mission-statement h3 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 10%;
  }

  .mission-statement p {
    font-size: 0.9rem;
  }

  /**Our Team Css*/

  .ourTeam h3 {
    font-family: "Instrument Sans", sans-serif;
    font-size: 2rem;
    margin-top: 10%;
    margin-bottom: 2.5%;
    padding-top: 10%;
    padding-left: 8%;
  }

  .ourTeam p {
    font-family: "Instrument Sans", sans-serif;
    max-width: 95%;
    font-size: 0.8rem;
    line-height: 2rem;
    padding-bottom: 2.5%;
    padding-left: 8%;
    margin-bottom: 5%;
  }

  /**slider css*/

  .slider-con {
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .slide-show2 {
    display: inline !important;
  }

  .slide-show1 {
    display: none !important;
  }

  .slider-div {
    height: 55vh;
    width: 40vw;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 15%;
  }
  .slider-div img {
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    transform: translate(5%);
  }

  .slider-content {
    position: absolute;
    height: 45%;
    bottom: 0;
    width: 80%;
    border-radius: 1rem;
    padding-top: 5%;
    padding-bottom: 10%;
    background: rgba(1, 1, 1, 0.438);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-bottom: 15%;
    transform: translate(5%);
  }

  .slider-content strong {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    padding-left: 8%;
    color: #fff;
  }

  .slider-content p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 5%;
    color: #fff;
  }

  .slick-dots {
    height: 15%;
    transform: translate(-5%);
    display: inline-block; /* Ensure dots are displayed */
  }

  .securebooking {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
  }

  .securebooking h3 {
    margin-top: 15%;
    max-width: 100%;
    font-size: 2.5rem;
    margin-bottom: 10%;
  }

  .securebooking p {
    max-width: 93%;
    font-size: 1.2rem;
    margin-bottom: 5%;
  }

  .secure-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secure-img {
    width: 55vw;
    z-index: 1;
  }

  .blob {
    left: 12%;
    width: 75vw;
  }

  .test-div2 {
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-left: 7%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel {
    height: auto;
    width: 100%;
    margin-left: -3.5%;
    margin-bottom: 10%;
    position: relative;
    margin-top: 10%;
  }

  .slider-div1 {
    height: 25vh;
    width: 100vw;
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    margin-bottom: 5%;
  }

  .slider-content1 {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 100%;
    border-radius: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(to right, #ffffff, #aab3d1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .slider-content1 h5 {
    font-size: 0.7rem;
    max-width: 100%;
    margin-bottom: -5%;
  }

  .slick-dots {
    height: 15%;
    transform: translate(0%);
    display: inline-block; /* Ensure dots are displayed */
  }

  .testimonials-para2 {
    margin-top: -10%;
    font-size: 2rem;
    max-width: 90%;
  }

  .testimonials-para1 {
    font-size: 1.2rem;
    max-width: 95%;
  }

  /**Plans*/

  .pricing-page {
    margin-top: 10%;
  }

  .pricings > h1 {
    margin-top: 5%;
    font-size: 1.35rem;
  }

  .pricings > p {
    max-width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.9rem;
  }

  .pricing-button {
    margin-top: 8%;
    font-size: 0.9rem;
    padding: 3% 4%;
    border-radius: 0.3rem;
  }

  .button-change {
    width: 80%;
    font-size: 1rem;
  }

  .button-change > button {
    width: 100%;
  }

  .Plans {
    flex-direction: column;
    padding-bottom: 9%;
  }

  .each-plan-box {
    margin-top: 2.5rem;
    width: 80%;
    border-radius: 0.5rem;
  }

  .facilities-box > img {
    width: 4.5vw;
  }
  .facilities-box > p {
    max-width: 70%;
  }

  /**FAq css*/

  .Faq-section {
    margin-top: 10%;
    font-size: 0.9rem;
  }

  .Faq-section > button {
    margin-top: 5%;
    font-size: 0.9rem;
    padding: 2% 5%;
  }

  .Faq-subsection {
    width: 90%;
    font-size: 0.9rem;
  }

  .Faq-subsection > p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 0.8rem;
    max-width: 90%;
  }

  .faq-s {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    line-height: 1rem;
  }

  .faq-s > h5 {
    max-width: 85%;
  }

  .ans {
    color: #757575;
    width: 80%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 0.75rem;
    line-height: 1.2rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  /**Footer*/

  .footer-sub-section:last-child {
    border: 2px solid red;
  }

  .child2 button {
    position: absolute;
    top: 10%;
    padding: 0% 1%;
  }

  .mail-icon {
    left: 4.5%;
  }

  .copy-right {
    flex-wrap: wrap;
  }
  .first-copy {
    width: 100%;
    justify-content: space-around;
    margin-top: 0.5%;
  }

  .last-sections {
    margin-left: 2.5%;
  }

  .second-copy {
    text-align: center;
    width: 100%;
    margin-top: 2.5%;
  }

  /**Footer*/

  .saloninks-home-con {
    height: 100vh;
    width: 100vw;
  }

  /**Nav Bar Css*/
  .saloninks-navbar-con {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100vw;
    position: fixed;
    z-index: 3;
  }

  .saloninkslogo {
    width: 35%;
    height: auto;
  }

  .nav-bar-section {
    display: none;
  }
  .navbar-buttons {
    display: none;
  }

  .ham-burger {
    width: 6.5%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .bar {
    padding: 3%;
    margin: 10%;
    background: #222222;
    transition: all 1s ease-in-out;
  }
  .bar1 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(45deg);
  }
  .bar2 {
    transition: all 1s ease-in-out;
    display: none;
  }
  .bar3 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(-45deg);
  }

  .nav-bar-content {
    background-color: #5a5ad545;
    position: fixed;
    height: auto;
    width: 75%;
    top: 10%;
    z-index: 3;
    height: 48%;
    animation: show-navbar 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 48%;
    border-top-left-radius: 48%;
    padding-left: 15%;
    left: -15%;
  }

  .nav-bar-section1 {
    padding-left: 5%;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 3;
  }
  .nav-bar-section1 p {
    font-family: "Instrument Sans", sans-serif;
    color: #222222;
    z-index: 3;
    font-size: 1.5rem;
  }

  .nav-bar-section1 select {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.5rem;
    color: #222222;
    outline: none;
    border-color: transparent;
    margin-left: -1%;
    background-color: transparent;
    z-index: 3;
  }

  .navbar-buttons2 {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    margin-left: -15%;
    z-index: 3;
    padding-left: 5%;
  }
  .navbar-buttons2 button:nth-child(1) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-image: linear-gradient(#5a5ad5, #3636d5);
    border-width: 0;
    padding: 2% 3% 2% 3%;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
  }
  .navbar-buttons2 button:nth-child(2) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.5rem;
    color: #222222;
    border-width: 0;
    padding: 2% 2% 2% 2%;
    background-color: #fff;
    border-width: 0.3vh;
    border-color: #e1e4e7;
    border-radius: 1vh;
    cursor: pointer;
    z-index: 3;
  }
  .nav-bar-blur-content {
    display: inline;
    height: 100vh;
    width: 85vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }

  /**Main-page*/

  .home-inks-main-image {
    position: absolute;
    height: 100%;
    transform: rotate(-25deg);
    border-radius: 5vw;
    left: 30%;
    z-index: -1;
    filter: drop-shadow(-10px -5px 10px #6f9ec9);
    filter: blur(4px);
    margin-top: -30%;
  }

  .saloninks-head-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    margin-left: 0;
    background-color: #ffffff40;
  }

  .saloninks-head-page h1 {
    font-family: "Instrument Sans", sans-serif;
    max-width: 85%;
    font-size: 6rem;
    background-image: linear-gradient(to right, #5856d6, #5856d6, #337e85);
  }

  .saloninks-head-page p {
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.5rem;
    max-width: 92%;
    line-height: 1.5;
    color: #222222;
  }
  .salonink-head-page-button-con {
    min-width: 80%;
  }
  .salonink-head-page-button-con button:nth-child(odd) {
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }
  .salonink-head-page-button-con button:nth-child(even) {
    font-size: 1.5rem;
    border-radius: 0.5rem;
  }

  /**brands.css*/

  .saloninks-home-con h4 {
    margin: 5% 0%;
  }

  .brand-con {
    gap: 2rem;
  }

  .brands {
    height: 40%;
    width: 17%;
  }

  /**Comprehensiv-con css*/
  .con-comprehensive {
    border-color: #fff;
  }

  .con-comprehensive h1 {
    margin-top: 15%;
    text-align: center;
    font-size: 3rem;
    max-width: 80%;
    margin-bottom: 2%;
    line-height: 3.5rem;
  }

  .con-comprehensive p {
    max-width: 80%;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .con-comprehensive img {
    margin-top: 5%;
    width: 85%;
    border-radius: 0.5rem;
  }

  .comprehensive-content {
    flex-direction: column;
    margin-bottom: 8%;
  }

  .content-com {
    width: 100%;
    margin: 0;
    height: auto;
    top: -1%;
  }

  /**wave-css*/

  .wave {
    height: 10%;
    z-index: 0;
    top: -2%;
  }

  .wave2 {
    height: 10%;
    z-index: 0;
    bottom: -2%;
  }

  /** mission-statement*/

  .mission-statement {
    padding: 10%;
  }

  .mission-statement img {
    width: 100%;
    margin-top: 10%;
  }

  .mission-statement h3 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 5%;
  }

  .mission-statement p {
    font-size: 0.9rem;
  }

  .ourTeam h3 {
    font-size: 3rem;
    margin-top: 5%;
  }

  .ourTeam p {
    max-width: 95%;
    font-size: 0.5rem;
    margin-bottom: 2.5%;
  }
  /**slider-css*/

  .slider-content {
    height: 40%;
    padding-top: 2.5%;
  }

  .slider-content strong {
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    padding-left: 8%;
    color: #fff;
  }

  .slider-content p {
    font-family: "Roboto", sans-serif;
    font-size: 0.6rem;
    line-height: 1rem;
    max-width: 95%;
    margin-top: 2.5%;
    color: #fff;
  }

  .securebooking {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
  }

  .securebooking h3 {
    margin-top: 15%;
    max-width: 100%;
    font-size: 2.5rem;
    margin-bottom: 10%;
  }

  .securebooking p {
    max-width: 93%;
    font-size: 1.2rem;
    margin-bottom: 5%;
  }

  .secure-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secure-img {
    width: 55vw;
    z-index: 1;
  }

  .blob {
    left: 12%;
    width: 75vw;
  }

  .test-div2 {
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-left: 7%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .test-div1 h4 {
    text-align: start;
  }

  .test-div1 p {
    max-width: 70%;
  }

  .test-div2 h4 {
    text-align: start;
  }

  .test-div2 p {
    padding-top: 2%;
    max-width: 60%;
  }

  .carousel {
    height: auto;
    width: 100%;
    margin-left: -3.5%;
    margin-bottom: 10%;
    position: relative;
    margin-top: 10%;
  }

  .slider-div1 {
    height: 35vh;
    width: 100vw;
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    margin-bottom: 5%;
    padding-left: 5%;
  }

  .slider-content1 {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 90%;
    border-radius: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(to right, #ffffff, #aab3d1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .slider-content1 > p {
    font-size: 1.5rem;
  }

  .slider-content1 h5 {
    margin-top: 2.5%;
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .slick-dots {
    height: 15%;
    transform: translate(0%);
    display: inline-block; /* Ensure dots are displayed */
  }

  .testimonials-para2 {
    margin-top: -10%;
    font-size: 2rem;
    max-width: 90%;
  }

  .testimonials-para1 {
    font-size: 1.2rem;
    max-width: 95%;
  }

  .customer-data1 {
    margin-top: 5%;
  }

  .each-plan-box > p {
    font-size: 0.6rem;
  }

  .button-change {
    width: 35%;
  }

  .button-change > button {
    width: 100%;
  }

  .each-plan-box {
    width: 30%;
  }

  .each-plan-box > button {
    margin-left: 25%;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  /**Footer**/

  .mail-icon {
    top: 18%;
  }

  .footer-sub-section button {
    top: 12%;
  }

  /**Footer**/

  /**Contact-page Css*/

  .contact-page-first-child > h2 {
    max-width: 90%;
    margin: 0%;
  }

  .contact-page-first-child > p {
    max-width: 90%;
  }

  .contact-page-first-child > img {
    width: 75%;
  }

  .text-box-contact {
    width: 45%;
  }

  .text-box-contact {
    width: 45%;
  }

  .contact-page-second-child > textarea {
    width: 95%;
  }

  .contact-page-second-child > button {
    width: 95%;
  }

  .check-box {
    width: 95%;
    font-size: 0.55rem;
  }

  .contact-page-second-child > p {
    margin-top: 5%;
  }

  /**Contact-page Css*/

  .saloninks-home-con {
    height: 100vh;
    width: 100vw;
  }

  /**Nav Bar Css*/
  .saloninks-navbar-con {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100vw;
    z-index: 3;
  }

  .saloninkslogo {
    width: 20%;
    height: auto;
  }

  .nav-bar-section {
    display: none;
  }
  .navbar-buttons {
    display: none;
  }

  .ham-burger {
    width: 5%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .bar {
    padding: 3%;
    margin: 10%;
    background: #222222;
    transition: all 1s ease-in-out;
  }
  .bar1 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(45deg);
  }
  .bar2 {
    transition: all 1s ease-in-out;
    display: none;
  }
  .bar3 {
    padding: 3%;
    background: #222222;
    transition: all 1s ease-in-out;
    transform: rotate(-45deg);
  }

  .nav-bar-content {
    background-color: #5a5ad545;
    position: absolute;
    height: auto;
    width: 40%;
    top: -10%;
    z-index: 3;
    height: 90%;
    animation: show-navbar 1s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 48%;
    border-top-left-radius: 48%;
    padding-left: 10%;
    left: -10%;
    margin-top: 10%;
  }

  .nav-bar-section1 {
    margin-top: 5%;
    padding-left: 5%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 3;
    font-size: 0.8rem;
  }
  .nav-bar-section1 p {
    font-family: "Instrument Sans", sans-serif;
    color: #222222;
    z-index: 3;
    font-size: 0.7rem;
  }

  .nav-bar-section1 select {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.7rem;
    color: #222222;
    outline: none;
    border-color: transparent;
    margin-left: -2%;
    background-color: transparent;
    z-index: 3;
  }

  .navbar-buttons2 {
    margin-bottom: 5%;
    height: 15%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1%;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    margin-left: -15%;
    z-index: 3;
    font-size: 0.6rem;
    padding-left: 8%;
  }
  .navbar-buttons2 button:nth-child(1) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.7rem;
    color: #fff;
    background-image: linear-gradient(#5a5ad5, #3636d5);
    border-width: 0;
    padding: 2% 3% 2% 3%;
    border-radius: 8px;
    cursor: pointer;
    z-index: 3;
  }
  .navbar-buttons2 button:nth-child(2) {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.7rem;
    color: #5856d6;
    border-width: 0;
    padding: 2% 2% 2% 2%;
    background-color: #fff;
    border-width: 0.3vh;
    border-color: #5856d6;
    border-radius: 1vh;
    cursor: pointer;
    z-index: 3;
  }
  .nav-bar-blur-content {
    display: inline;
    height: 100vh;
    width: 85vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    animation: show-navbar 1s ease-in-out forwards;
    z-index: 1;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }

  /**Main-page*/

  .home-inks-main-image {
    position: absolute;
    height: 100%;
    transform: rotate(-25deg);
    border-radius: 5vw;
    left: 60%;
    z-index: -1;
    filter: drop-shadow(-10px -5px 10px #6f9ec9);
    filter: blur(4px);
    margin-top: 2%;
  }

  .saloninks-head-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
    margin-left: 0;
    background-color: #ffffff40;
  }

  .saloninks-head-page h1 {
    font-family: "Instrument Sans", sans-serif;
    max-width: 75%;
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #5856d6, #5856d6, #337e85);
  }

  .saloninks-head-page p {
    font-family: "Instrument Sans", sans-serif;
    font-size: 0.7rem;
    max-width: 60%;
    line-height: 1.5;
    color: #222222;
  }
  .salonink-head-page-button-con {
    width: 100%;
  }

  .salonink-head-page-button-con button:nth-child(even) {
    font-size: 0.7rem;
    padding: 1% 2%;
  }
  .salonink-head-page-button-con button:nth-child(odd) {
    font-size: 0.7rem;
    padding: 1% 2%;
  }

  /**brands*/

  .saloninks-head-page h4 {
    margin: 1% 0%;
    font-size: 5rem;
  }

  .brand-con {
    gap: 1rem;
  }

  .brands {
    height: 65%;
    width: 10%;
  }

  .saloninks-home-con h4 {
    font-family: "Instrument Sans", sans-serif;
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 1%;
  }

  /**Comprehensiv-con css*/
  .con-comprehensive {
    border-color: #fff;
  }

  .con-comprehensive h1 {
    margin-top: 15%;
    text-align: center;
    font-size: 1.5rem;
    max-width: 80%;
    margin-bottom: 2%;
    line-height: 1rem;
  }

  .con-comprehensive p {
    max-width: 80%;
    line-height: 1.5rem;
  }

  .con-comprehensive img {
    margin-top: 5%;
    width: 85%;
    border-radius: 0.5rem;
  }

  .comprehensive-content {
    flex-direction: column;
    margin-bottom: 8%;
  }

  .content-com {
    width: 100%;
    margin: 0;
    height: auto;
    top: -1%;
  }

  /**wave-css*/

  .wave {
    height: 10%;
    z-index: 0;
    top: -2%;
  }

  .wave2 {
    height: 10%;
    z-index: 0;
    bottom: -2%;
  }

  /** mission-statement*/

  .mission-statement {
    padding: 10%;
  }

  .mission-statement img {
    width: 100%;
    margin-top: 10%;
  }

  .mission-statement h3 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 5%;
  }

  .mission-statement p {
    font-size: 0.9rem;
  }

  .ourTeam p {
    font-size: 1.5rem;
  }

  .slider-con {
    height: 85vh;
    margin-left: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .slider-div {
    height: 75vh;
    width: 40vw;
    position: relative;
    border-radius: 1rem;
    padding-bottom: 15%;
  }
  .slider-div img {
    height: 100%;
    width: 80%;
    border-radius: 1rem;
    transform: translate(17.5%);
  }

  .slider-content {
    padding-top: 2.5%;
  }

  .slider-content p {
    font-size: 0.5rem;
    max-width: 95%;
    margin-top: 2.5%;
  }

  .slick-dots {
    height: 15%;
    display: inline-block; /* Ensure dots are displayed */
  }

  .test-div2 {
    align-self: flex-start;
    height: auto;
    width: 100%;
    padding-left: 7%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .test-div1 h4 {
    text-align: start;
  }

  .test-div1 p {
    max-width: 70%;
  }

  .test-div2 h4 {
    text-align: start;
  }

  .test-div2 p {
    padding-top: 2%;
    max-width: 60%;
  }

  .carousel {
    height: auto;
    width: 100%;
    margin-left: -3.5%;
    margin-bottom: 10%;
    position: relative;
    margin-top: 10%;
  }

  .slider-div1 {
    height: 55vh;
    width: 100vw;
    position: relative;
    border-radius: 1rem;
    background-color: transparent;
    margin-bottom: 5%;
    padding-left: 5%;
  }

  .slider-content1 {
    position: absolute;
    height: 100%;
    top: 0%;
    width: 90%;
    border-radius: 1rem;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(to right, #ffffff, #aab3d1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  .slick-dots {
    height: 15%;
    transform: translate(0%);
    display: inline-block; /* Ensure dots are displayed */
  }

  .testimonials-para2 {
    margin-top: -10%;
    font-size: 2rem;
    max-width: 90%;
  }

  .testimonials-para1 {
    font-size: 1.2rem;
    max-width: 95%;
  }

  .button-change {
    width: 30%;
  }

  .button-change > button {
    width: 100%;
  }

  .each-plan-box {
    width: 25%;
  }

  .each-plan-box > button {
    margin-left: 25%;
  }
}

@media screen and (min-height: 992px) and (max-width: 1000px) and (orientation: portrait) {
  /**Contact Page Css**/

  .contact-page-first-child > h2 {
    max-width: 90%;
    margin: 0%;
  }

  .contact-page-first-child > p {
    max-width: 90%;
  }

  .contact-page-first-child > img {
    width: 75%;
  }

  .text-box-contact {
    width: 45%;
  }

  .text-box-contact {
    width: 45%;
  }

  .contact-page-second-child > textarea {
    width: 95%;
  }

  .contact-page-second-child > button {
    width: 95%;
  }

  .check-box {
    width: 95%;
    font-size: 0.45rem;
  }

  .contact-page-second-child > p {
    margin-top: 5%;
  }

  /**Contact Page Css*/

  .ourTeam p {
    font-size: 1.5rem;
  }

  .slider-div {
    height: 70vh;
    margin-top: 10%;
  }
  .slider-div img {
    width: 85%;
    transform: translate(0%);
  }

  .slider-content {
    width: 85%;
    transform: translateX(0%);
    padding-top: 3.5%;
  }

  .slider-content strong {
    font-size: 2.5rem;
  }

  .slider-content p {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .slide-show1 {
    display: none !important;
  }

  .slide-show2 {
    display: inline !important;
  }

  .slider-content1 h5 {
    font-size: 1.3rem;
  }

  .customer-data1 {
    margin-top: 10%;
  }
  .customer-data1 p {
    font-size: 1rem;
    max-width: 100%;
  }

  .customer-data1 h6 {
    font-size: 1rem;
  }

  .facilities-box > img {
    height: 1.5vh;
    width: 2vw;
  }

  .pricing-button {
    margin-top: 5%;
    font-size: 0.9rem;
    padding: 2% 3%;
    border-radius: 0.3rem;
  }
}

@media screen and (min-height: 600px) and (max-width: 1050px) and (orientation: landscape) {
  /**Footer**/
  .mail-icon {
    top: 20%;
  }

  .footer-sub-section button {
    top: 12%;
  }
  /**Footer**/

  /**Contact-page CSs**/

  .contact-page-first-child > h2 {
    max-width: 80%;
    margin: 0%;
  }

  .contact-page-first-child > p {
    max-width: 80%;
  }

  .contact-page-first-child > img {
    width: 75%;
  }

  .text-box-contact {
    width: 45%;
  }

  .text-box-contact {
    width: 45%;
  }

  .contact-page-second-child > textarea {
    width: 95%;
  }

  .contact-page-second-child > button {
    width: 95%;
  }

  .check-box {
    width: 95%;
    font-size: 0.55rem;
  }

  .contact-page-second-child > p {
    margin-top: 5%;
  }

  /**our team css*/

  .ourTeam h3 {
    font-size: 4rem;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .ourTeam p {
    max-width: 95%;
    font-size: 1.8rem;
    margin-bottom: 8%;
  }

  .slider-div {
    height: 60vh;
  }

  .slider-content strong {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    padding-left: 8%;
    color: #fff;
  }

  .slider-content p {
    font-size: 0.85rem;
    max-width: 90%;
  }

  .slick-dots {
    height: 15%;
    display: inline-block; /* Ensure dots are displayed */
  }

  .slider-content1 {
    height: 30vh;
    margin-bottom: 5%;
  }

  .button-change {
    width: 30%;
  }

  .button-change > button {
    width: 100%;
  }

  .each-plan-box {
    width: 25%;
  }

  .facilities-box > img {
    width: 1.5vw;
  }

  .each-plan-box > button {
    margin-left: 25%;
  }
}
